
label{
    z-index:10;
    width:140px;
    height:50px;
    transform:scale(0.9,0.9);
    position:relative;
    display:block;
    background:white;
    border-radius:200px;
    cursor:pointer;
    box-shadow:inset 0px 5px 10px black, inset 0px -5px 10px white;
    transition:0.3s;
    position:absolute;
    right:150px;
}
label:after{
    content: " ";
    width:30px;
    transform:scale(1.2,1.2);
    height:30px;
    position:absolute;
    top:10px;
    left:10px;
    background:linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius:50%;
    box-shadow:0px 2px 5px rgba(0,0,0,0.4);
    transition:0.3s;
}
input{
   width:0;
    height:0;
     visibility:hidden; 

}
input:checked + label{
    background:#fbf9f9;
}
input:not(:checked) + label{
    background:#5a5a5a;
}
label p{
    position:relative;
    right:100px;
    bottom:10px;
    color:rgb(141, 139, 139);
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif;
    font-weight:bolder;
    text-shadow:2px 4px 10px rgb(20, 20, 20);
    transform: scale(1.2,1.2);
}
label p:hover{
    text-shadow:2px 4px 12px rgb(47, 53, 246);
}
p +input:checked{
    color:white;
}

input:checked + label:after {
    left:195px;
    transition:0.3s;
    position:absolute;
    height:40px;
    width:40px;
    top:5px;
    transform:translateX(-100px);
    box-shadow:0px 2px 4px rgba(245, 243, 243, 0.4);
    background:linear-gradient(180deg,#f1f4ff,rgb(25, 116, 213));
}
label:active:after{
    width:65px;
}
.background{
    width:100%;
    height:175%;
    background:#fff;
    z-index:-1;
    position:absolute;
    transition:0.3s;
}
input:checked+label+.background{
    background:#242424;
    top:0px;
}
label svg.sun{
    left:40px;
    fill:#fff;
    transition:0.3;
height:40px;
width:40px;
position:fixed;
top:5px;
transform:scale(0.9,0.9);
left:20px;

}
label svg.moon{
    position: fixed;
   right:-40px;
    height:40px;
 width:10vw;
    fill:#7e7e7e;
    transition:0.3;
    position:fixed;
    transform:scale(1,1);
    top:5px;
}
input:checked+ label svg.moon{
    visibility:hidden;

}
input:not(:checked)+ label svg.sun{
    visibility:hidden;

}
/*main page*/
.mode + .background{
    position:relative;
    height:200%;
   
}
.links{
    position:relative;
    top:-150px;
    left:-50px;
 
}
.photo{
    display:flex;
    justify-content:center;
    border:3px solid rgb(36, 36, 36);
    position:absolute;
    border-radius:50%;
    height:150px;
    width:150px;
    top:150px;
    left:630px;
    cursor:pointer;
    transform:scale(1.3,1.3);
    background:yellow;
    box-shadow:inset 0px 5px 15px black , inset 0px -5px 15px grey;
}
.photo img{
    border-radius:60%;
    cursor:pointer;
}
a{
    text-decoration:none;
    color:black;
}
.profile:hover{
box-shadow:2px 4px 10px rgb(34, 31, 31);
cursor:pointer;
}
.bio h1{
    position:relative;
    top:-10px;
    left:25px;
    font-size:3rem;
    border-color: #242424;
    text-shadow:2px 3px 10px rgb(23, 13, 206);
}
.gradient-text {
    background: linear-gradient(to right, #12bceb, #0c6a8a); /* Define your gradient colors */
    -webkit-background-clip: text; /* Ensures the gradient is clipped to text */
    -webkit-text-fill-color: transparent; /* Makes the text itself transparent */
    font-size: 48px; /* Adjust text size as needed */
  }
  .gradient-text:hover{
text-shadow: 3px 3px 15px  #7e7e7e;
  }

html{
    user-select:none;
}
.bio h2{
    position:absolute;
    top:350px;
    font-weight:bolder;
    font-style:oblique;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 4px 17px#d8860b;
  left:600px;
display:flex;
flex-direction:row;
}
.bio h2 +input:checked{
    position:absolute;
    top:350px;
    font-weight:bolder;
    font-style:oblique;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 4px 17px#f0eeea;
    color:#f0eeea;
  left:600px;
display:flex;
flex-direction:row;
}

.bio h2 .smile svg{
    height:50px;
    width:50px;
    border-radius:50%;
    background:yellow;
    position: absolute;
    top:-15px;
    left:220px;
}

.m{
    cursor:pointer;
    border:4px solid black;
    border-radius:20px;
    width:400px;
    height:70px;
    margin-bottom:20px;
    position:relative;
display:flex;
flex-direction: column;
justify-content:center;
left:570px;
top:500px;
box-shadow: 2px 10px 5px grey;
}
.m+input:checked{
    border:4px solid rgb(249, 246, 246);
}
.m p{
    font-size:2rem;
justify-content: center;
position:relative;
top:-7px;
left:150px;
}
.m:hover{
    box-shadow: 2px 4px 10px rgb(52, 52, 55);
    border:1px solid rgb(46, 46, 46);
    cursor:pointer;
}
.m:hover+input:checked{
    box-shadow: 2px 4px 10px rgb(251, 251, 253);
    border:1px solid rgb(220, 216, 216);
}
.social{
    display: flex;
    flex-direction: column;;
}
.media1{
    background:linear-gradient(120deg,rgb(61, 61, 70),rgb(180, 174, 175),white);
}
.media2{
    background:linear-gradient(120deg,blue,white);
}
.media3{
    background:linear-gradient(120deg,rgb(83, 83, 255),white);
}
.media4{
    background:linear-gradient(120deg,rgb(52, 1, 255),rgb(243, 62, 92),white);
}
.media5{
    background:linear-gradient(130deg,rgb(12, 66, 175),rgb(255, 243, 245),white);
}
.media6{
    background:linear-gradient(120deg,red,white);
}
.media7{
    background:linear-gradient(120deg,rgb(176, 8, 8),white);
}
.media8{
    background:linear-gradient(120deg,rgb(158, 250, 195),rgb(132, 245, 26),white);
}
.fa-brands{
    height:0px;
}
.logo{
transform:scale(2,2);
position:relative;
left:300px;
height:100px;
top:55px;
}

.footer{
    position:absolute;
    top:1300px;
    height:200px;
    width:1570px;
    left:0px;
   background: #747475;
}
.footer+input:checked{
    background: rgb(58, 57, 57);
}
.p{
    font-size:1.5rem;
}
.footer p{
    display:flex;
    left:-20px;
    justify-content: center;
   font-size:1.5rem;
    font-weight:bolder;
}
.fa-heart{
    transform: scale(2,2);
    color:red;
    position:absolute;
    left:870px;
    bottom:155px;

}
.line{
    display:flex;
    flex-direction:column;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
    /* Portrait tablets */

  }
@media only screen and (max-width: 480px) {
    /* Extra small phone styles */
    label{
        position:absolute;
    }
    .bio h1{
        margin-top:4rem;
        transform:scale(0.6,0.6);
        font-size:2.4rem;
        position:absolute;
        left:8%;
        top:10%;
    }
    .profile{
        position:absolute;
        left:-200%;

    }
    .background{
        width:101%;
        height:575%;
        background:#f3f1f1;
        z-index:-1;
        position:absolute;
        left:-1%;
        transition:0.3s;
    }
    body{
        background:#2d3133;
    }
    .footer{
        position: absolute;
        left:1%;
        margin-top:-10%;
      transform:scale(0.7,0.7);
      
      }
  }


@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Styles for tablets */
label{
    right:10%;
    transform: scale(1.3,1.3);
}
label svg.moon{
    position:absolute;
    right:0%;
}
.bio h1{
    position:absolute;
    top:7%;
}
.bio h2{
    position:absolute;
    top: 60%;
left:40%;
transform:scale(1.3,1.3);
    width:100vh;
}
.profile{
    position:absolute;
    top: 3%;
    left:-130%;
    transform:scale(2,2);
}
.links{
    position:absolute;
    top:30%;
    left:-50%
}
footer .p{
    margin-bottom:0%;
}
  }
  
@media only screen and (min-width: 320px) and (max-width: 600px) {
    /* Styles for phones */
    label{
        transform:scale(0.85,0.85);
        position:absolute;
        left:60%;
    }
    label svg.moon{
        position:absolute;
        right:00px;
    }
    .bio h1{
        transform: scale(0.7,0.7);
        width:120vw;
        position:absolute;
        left:-10%;
        top:5%;
    }
  .profile{
    position:absolute;
    left:-140%;
    top:4%;
    transform:scale(1.2,1.2);
  }
  .bio h2{
    position:absolute;
    left:-7250%;
  }
  .links{
    position:absolute;
    top:2%;

    left:-75%;
  }
.background{
    margin-bottom: 0%;
}
  .social{
    transform:scale(0.7,0.7);
    position:absolute;
    left:-65%;
    top:120%;
  }
  .logo{
  width:10vw;
  left:30%;
  }
  .m{
margin-bottom:10%;
left:135%;
width:80vw;
  }
  .footer{
    margin-top:-10%;
  transform:scale(0.7,0.7);
  width:199vw;
  }

  .background{
    height:100%;
  }
  .footer p{
    position:absolute;
    left:45%;
 
  }
.p{
    position:absolute;
left:-30%;
margin-bottom:3%;
}
  .love{
    position:absolute;
    left:-32%;
bottom:2%;
  }
  }
